*{
	margin: 0;
	padding: 0;
}
.head{
	width: 1366px;
	height: 91px;
	background-color: #fff;
	margin: 0 auto;
}
.outer{
	width: 1366px;
	background: #fff;
	margin: 0 auto;
}
.head-logo{
	display: inline-block;
	background-image: url(image/111.png);
	background-position: -550px -260px;
	width: 197px;
	height: 50px;
	margin-left: 112px;
	margin-top: 22px;
}
.head-right{
	float: right;
}
.head-right li{
	display: inline-block;
	float: left;
	list-style: none;
	height: 84px;
	width: 84px;
	background-color: #898989;
	margin-left: 3px;
	position: relative;
}
.head-right .wenzi{
	text-decoration: none;
	color: #d5d5d6;
	font-size: 8px;
	position: absolute;
	top: 56px;
	left: 18px;
}
.head-right li i{
	display: inline-block;
	background-image: url(image/tubiao.png);
	position: absolute;
}
#logo1{
	background-position: 0 0 ;
	width: 40px;
	height: 36px;
	top: 20px;
	left: 22px;
}
#logo2{
	background-position: -65px 0;
	width:35px;
	height:35px;
	top: 20px;
	left: 24px;
}
#logo3{
	background-position: -129px 0;
	width: 50px;
	height:35px;
	top: 20px;
	left: 17px;
}
#logo4{
	background-position: -213px 0;
	width: 48px;
	height:36px;
	top: 20px;
	left: 23px;
}
#logo5{
	background-position: -284px 0;
	width: 40px;
	height: 38px;
	top: 20px;
	left: 24px;
}
#logo6{
	background-image: url(image/111.png);
	background-position: -549px -606px;
	width: 40px;
	height: 36px;
	top: 20px;
	left: 20px;
}
#logo7{
	background-position: -424px 0;
	width:55px;
	height: 36px;
	top: 20px;
	left: 16px;
}
#logo8{
	background-position: -505px 0;
	width: 33px;
	height: 36px;
	top: 20px;
	left: 24px;
}
.head-right li:hover{
	background-color: #c2191f;
}
.box1{
	position: relative;
}
.tubiao{
	display: inline-block;
	background-image: url(image/tubiao.png);
	background-position: -553px -806px;
	width: 776px;
	height: 99px;
	position: absolute;
}
.box1{
	background-image: url(image/BJ.png);
	height: 518px;
	position: relative;
}
.box1 li{
	list-style: none;
}
.box1 ul{
	margin-left: 517px;
	padding-top: 114px;
}
.qszb{
	font-size: 35px;
	font-family: "微软雅黑";
	border-right: 5px #d0000e solid;
	width: 150px;
	line-height: 35px;
	color: #3f3b3a;
}
.fwgj{
	font-size:65px;
	font-family: "微软雅黑";
	font-weight: bold;
	color: #3f3b3a;
}
.your{
	font-size: 28px;
	font-family: "微软雅黑";
	color: #727172;
}
.geren span{
	font-family: "微软雅黑";
	font-weight: bold;
	color: #d0000e;
	font-size: 20px;
}
.geren a{
	text-decoration: none;
	color: #767575;
	font-weight: normal;	
	font-size: 20px;
}
.box1-right{
	width: 205px;
	height: 70px;
	position: absolute;
	right: 0;
	bottom: 0;
}
.box1-right span{
	font-size: 33px;
	font-weight: bolder;
	font-family: "微软雅黑";
	margin-right: 35px;
}
.box1-right a{
	text-decoration: none;
	color: #c2191f;
}
.box2{
	width: 1366px;
	overflow: hidden;
}
.box2-top .table1{
	display: inline-block;
	width: 227px;
	height: 68px;
	float: left;
	border-left:2px  #cdcece solid;
	border-bottom: 3px #cdcece solid;
	margin-left: -2px;
	position: relative;
}
.box2-top a{
	font-size: 17px;
	text-decoration: none;
	color: #000;
	font-family: "微软雅黑";
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -31px;
	margin-top: -9px;
}
.box2-top .table1:hover{
	background-color: #c2191f;
	border: none;
}
.box2-top .table1:hover a{
	color: #fff;
}
.box2-bottom{
	width: 1366px;
	height: 471px;
	overflow: hidden;
	position: relative;
}
.box2-top .table{
	display: inline-block;
	height: 68px;
}
.box2-bottom-background{
	width: 1366px;
	height: 471px;
	background-image: url(image/black.png);
	overflow: hidden;
	opacity: 0.7;
}
.box2-bottom-right{
	width: 579px;
	height: 471px;
	background-image: url(image/222.png) ;
	position: absolute;
	right: 0;
	top: 0;
}
.qiye{
	display: inline-block;
	width: 166px;
	height: 45px;
	position: absolute;
	border-right: 5px #d0000e solid;
	top: 67px;
	right: 130px;

}
.qiye li{
	list-style: none;
	float: right;
	margin-top: -7px;

}
.jianjie{
	font-family: "微软雅黑";
	font-size: 30px;
}
.company{
	font-family: "微软雅黑";
	font-size: 16px;
}
.box2-bottom-right p{
	display: inline-block;
	width: 275px;
	height: 130px;
	position: absolute;
	right: 120px;
	top: 152px;
	text-indent: 24px;
	font-size:12px;
	font-family: "微软雅黑";
	color: #706f70;
}
.box3{
	width: 1366px;
	height: 802px;
	overflow: hidden;
	position: relative;
	background-image: url(image/333.png);
}
.box3-bottom{
	width: 1366px;
	height: 162px;
	background-image: url(image/444.png);
	position: absolute;
	bottom: 0;
	opacity: 1;	
}
.box3-bottom-over{
	overflow: hidden;
	position: relative;
	margin-top: 59px;
	margin-left:155px;
}
#camera{
	display: inline-block;
	background-image: url(image/111.png);
	background-position: -560px -1349px;
	width: 45px;
	height: 35px;
	float: left;
}
.box3-bottom-over li{
	list-style: none;
	width: 1170px;
	position: absolute;
	bottom: 0;
	left: 46px;
	color: #fff;
	border-bottom: 3px #d0000e solid;
	font-family: "微软雅黑";
}
#span1{
	font-size:26px;
	margin-right: 5px;
}
.box3-middle{
	width: 916px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.box3-middle ul{
	border-left: 6px #d0000e solid;
	margin-top: 52px;
	float: left;
	width: 916px;
}
.box3-middle li{
	font-family: "微软雅黑";
	font-size: 26px;
	margin-left: 5px;
}
.box3-middle li span{
	font-size: 17px;
	color: #727172;
}
.box3-middle li .red{
	color: #d10e10;
}
.box3-middle-yewu{
	width: 258px;
	height: 392px;
	float: left;
	background-color: #a3a4a4;
	margin-top: 35px;
	position: relative;
	margin-right: 47px;
}
.yewu-top{
	width: 258px;
	height: 85px;
}
.yewu-top p{
	color: #fff;
	font-family: "微软雅黑";
	font-size: 25px;
	margin-left: 78px;
	padding-top: 28px;
}
.yewu-middle1{
	width: 258px;
	height: 184px;
	background-image: url(image/xdyw.png);
}
.yewu-bottom p{
	width: 204px;
	font-size: 12px;
	color: #fff;
	text-indent: 24px;
	margin-left: 24px;
	padding-top: 24px;
}
.yewu-bottom a i{
	display: inline-block;
	background-image: url(image/111.png);
	background-position: -550px -1097px;
	width: 85px;
	height: 23px;
}
.yewu-bottom a{
	position: absolute;
	left: 90px;
	bottom: 23px;
}
#left{
	color: #e60012;
	font-size: 33px;
	font-family: "微软雅黑";
	font-weight: bold;
	position: absolute;
	left: 118px;
	top: 319px;
}
#right{
	color: #e60012;
	font-size: 33px;
	font-family: "微软雅黑";
	font-weight: bold;
	position: absolute;
	top: 319px;
	right: 118px;
	
}
.yewu-middle2{
	width: 258px;
	height: 184px;
	background-image: url(image/lcyw.png);
}
.yewu-middle3{
	width: 258px;
	height: 184px;
	background-image: url(image/sfzf.png);
}
.box4-left{
	width: 50%;
	overflow: hidden;
	float: left;
	position: relative;
	background-color: #d4d5d5;
}
.box4-left-1{
	overflow: hidden;
	position: relative;
}
.box4-left-1 img{
	width: 100%;
	height: 320px;
}
.box4-left-1 a i{
	display: inline-block;
	background-image: url(image/111.png);
	background-position: -660px -677px;
	width: 40px;
	height: 40px;
	position: absolute;
	bottom: 0;
	left: 55px;
}
.box4-left-2{
	float: left;
	width: 683px;
	height: 320px;
	position: relative;
	overflow: hidden;
	background-color: #d4d5d5;
}
.box4-left-2 a .i1{
	display: inline-block;
	background-image: url(image/111.png);
	background-position: -696px -960px;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 55px;
}
.left-2-p{
	width: 514px;
	margin:0 auto;
	font-size: 25px;
	font-family: "微软雅黑";
	font-weight: bold;
	margin-top: 65px;
}
.left-2-p2{
	width: 514px;
	margin: 0 auto;
	font-size: 18px;
	font-family: "微软雅黑";
	margin-top: 28px;
	color: #3e3a39;

}
.box4-left-2 #new1{
	display: inline-block;
	background-image: url(image/111.png);
	background-position: -657px -506px;
	width: 39px;
	height: 133px;
	position: absolute;
	right: 0;
	top:99px;
}
.box4-left-3{
	float: left;
	width: 100%;
	height: 683px;
	background-color: #fff;
}
.left-3-top ul{
	list-style: none;
	border-left: 5px solid #d0000e;
	margin-top: 48px;
	margin-left: 227px;
}
.left-3-top #mdbj{
	font-family: "微软雅黑";
	font-size: 25px;
}
.left-3-top #store{
	font-family: "微软雅黑";
	font-size: 18px;
}
.box4-left-3 .map{
	background-image: url(image/map.png);
	width: 591px;
	height: 487px;
	margin-left: 44px;
}
.box4-right{
	width: 50%;
	overflow: hidden;
	float: right;
	position: relative;
	background-color: #d4d5d5;
}
.box4-right-1{
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 320px;
	background-color: #d4d5d5;
}
.box4-right-1 #right-news{
	display: inline-block;
	background-image: url(image/111.png);
	background-position: -656px -341px;
	width: 39px;
    height: 133px;
    position: absolute;
    left: 0;
    top: 98px;

}
.box4-right-1 #right-bai{
	display: inline-block;
	background-image: url(image/111.png);
	background-position: -659px -731px;
	width: 42px;
	height: 42px;
	position: absolute;
	z-index: 2;
	bottom: 0;
	right: 55px;
}
.box4-right-2 img{
	width: 100%;
	height: 320px;
}
.box4-right-2 a #hei{
	display: inline-block;
	background-image: url(image/111.png);
	width: 42px;
	height: 42px;
	background-position: -696px -1030px;
	position: absolute;
	top: 0;
	right: 55px;
}
.box4-right-2{
	width: 100%;
	height:320px;
	overflow: hidden;
	position: relative;
}
.box5{
	width: 1366px;
	height: 160px;
	background-image: url(image/444.png);
	float: left;
}
.box5 .box5-hand i{
	display: inline-block;
	background-image: url(image/tubiao.png);
	background-position: -354px -56px;
	width: 45px;
	height: 40px;
	float: left;
}
.box5 .box5-hand{
	margin-left: 155px;
	margin-top: 58px;
	height: 40px;
	position: relative;
}
.box5 .box5-hand li{
    list-style: none;
    width: 1164px;
    position: absolute;
    bottom: 0;
    left: 46px;
    color: #fff;
    border-bottom: 3px #d0000e solid;
    font-family: "微软雅黑";
    float: left;
 
}
.box5 .box5-hand li #partner{
	margin-right: 15px;
	font-size:20px;
}
.box5 .box5-hand li #hezuo{
	   font-size: 30px;
}
.box6{
	width: 100%;
	height: 538px;
	float: left;
	position: relative;
}
.box6 .box6-middle {
	width: 776px; 
	margin: 0 auto;
	margin-top: 65px;
}
.box6 .box6-middle img{
	float: left;
}
.box7{
	float: left;
	position: relative;
	width: 100%;
	height: 160px;
}
.box7 .box7-phone{
	position: absolute;
	left: 160px;
	top:59px;
}
.box7 .box7-phone i{
	display: inline-block;
	background-image: url(image/111.png);
	background-position: -713px -1128px;
	width: 38px;
	height: 38px;
	float: left;
}
.box7 .box7-phone li{
    list-style: none;
    width: 1154px;
    position: absolute;
    bottom: 0;
    left: 46px;
    color: #d0000e;
    border-bottom: 3px #d0000e solid;
    font-family: "微软雅黑";
    float: left;
}
.box7 .box7-phone li #lianxi{
	font-size:30px;
}
.box7 .box7-phone li #contact{
	font-size: 20px;
	margin-left: 10px;
}
.box7 .box7-phone li .I400{
	font-size: 25px;
	margin-left: 100px;
	font-weight: bold;
}
.box7 .box7-phone li #I4002{
	margin-left: 45px;
}
.box7 .box7-phone a i{
	display: inline-block;
	background-image: url(image/111.png);
	background-position: -552px -1137px;
	width: 128px;
	height: 37px;
	position: absolute;
	left: 442px;
	top: 46px;
}
.box8{
	float: left;
	width: 100%;
	height: 166px;
	background-color: #fff;
	position: relative;
}
.box8 .box8-left i{
	display: inline-block;
	background-image: url(image/111.png);
	background-position: -548px -257px;
	width: 202px;
	height: 52px;
}
.box8 .box8-left li{
	list-style: none;
	border-right: 3px #d0000e solid;
	width: 240px;
	margin-left: 112px;
	margin-top: 40px;
}
.box8 .box8-left{
	float: left;
	width: 50%;
	overflow: hidden;
}
.box8 .box8-right{
	float: right;
}
.box8 .box8-right .box8-right-over i{
	display: inline-block;
	background-image: url(image/111.png);
	background-position: -552px -1251px;
	width: 77px;
	height: 81px;
	float: right;
}
.box8 .box8-right .box8-right-over a{
	text-decoration: none;
}
.box8 .box8-right .box8-right-over{
	width: 600px;
}
.box8 .box8-right .box8-right-over span{
	float: right;
	color: #979798;
	font-family: "微软雅黑";
	margin-left: 13px;
}
.box8 .box8-right .box8-right-over li{
	list-style: none;
	float: right;
	color: #979798;
	font-family: "微软雅黑";
}
.box8 .box8-right .box8-right-over ul{
	padding-top: 7px;
}
.box8 .box8-right .box8-right-over{
	margin-right: 70px;
	margin-top: 33px;
}
.xialakuang{
	background-image: url(image/123.png);
	width: 230px;
	height: 210px;
	position: absolute;
	top: 68px;
	display: none;	
}
.box2 .table .table1:hover .xialakuang{
	display: inline-block;
}